<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Resource for understanding and using Open Location Codes" />
    <meta name="keywords" content="olc, olcs, openlocationcodes, pluscodes, open location codes, plus codes, convert olc, convert open locatoin codes, convert plus codes, convert pluscodes" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=<%= htmlWebpackPlugin.options.MAPS_KEY %>&libraries=geometry">
    </script>
  </head>
  <body>
    <div id="olc"></div>
  </body>
</html>
